
body {
    font-family: 'roboto', sans-serif;
    background-color: #532D7B;


   
 ;
}
/* faz uma linha para tirar a marge*/
.row{
margin :0;

}

 /* padrozinou o padding  superior e inferior e zera nas lateiras */
.container{
padding:70px 0;

}
p,li { 
    color: rgb rgb(0, 0, 0);
    font-size: 4px;
}
/* Barra de navegação */

/* faz o fundo da barra de navegação*/
header, .navbar{
    background-color: #09003f;
}
#nav-container {
padding-top: 60;
padding-bottom: 0;
}

#logo{
    width: 75px;
}
.navbar-brand {
padding: 0;
color : rgb(245, 245, 245);

}
.navbar-brand:hover {
    color : #fff;
    
    }
    #navbar-links a {
color : #fff;

    }
    /* tamanho da barra */
    .navbar-expand-lg .navbar-nav .nav-link{
padding: 1rem .8rem;

/* alunos */
    }

  
      
      

      .banner {	
        border: 7px solid white;
        box-shadow: 0px 0px 10px #8c8c8c;
        transition: all .25s;
        max-width: 95%;
        width: 100%;
    }
    .banner:hover {	
        transform: scale(1.05);	
        box-shadow: 0px 0px 30px #8c8c8c;
    }
 
 
    