
body {
    font-family: 'roboto', sans-serif;
}
/* faz uma linha para tirar a marge*/
.row{
margin :0;

}
 /* padrozinou o padding  superior e inferior e zera nas lateiras */
.container{
padding:70px 0;

}
/* faz o fundo da barra de navegação*/
p,li { 
    color: rgb #444;
    font-size: 14px;
}
/* Barra de navegação */

/* faz o fundo da barra de navegação*/
header, .navbar{
    background-color: #353d41;
}
#nav-container {
padding-top: 0;
padding-bottom: 0;
}

#logo{
    width: 75px;
}
.navbar-brand {
padding: 0;
color : #fff;

}
.navbar-brand:hover {
    color : #fff;
    
    }
    #navbar-links a {
color : #fff;

    }
    
    .navbar-expand-lg .navbar-nav .nav-link{
padding: 1rem .8rem;

/* alunos */
    }

    #about-area {
        background-color: #ffffff;
      }
      
      .main-materia {
        color: #444;
        margin: 0 0 5px 0;
        font-size: 20px;
        text-align: left;
      }
      
      .main-materia2 {
        color: #444;
        margin: 0 0 5px 0;
        font-size: 20px;
        text-align: ;
      }
      
    